* {
  border: none;
  box-sizing: border-box;
  color: rgb(0, 0, 0); background-color: transparent;
  font-size: 100%; font-family: Arial, sans-serif;
  margin: 0; padding: 0;
  outline: none;
}
#container {
  color: rgb(0, 0, 0); background-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: center; justify-content: center; align-items: center;
}
.page {
  color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
  display: flex;
  width: 100vw; height: 100vh;
}
#bar {
  background-color: rgb(255, 255, 255);
  display: flex;
  left: 0; bottom: 0; z-index: 1;
  position: fixed;
  text-align: center; justify-content: center; align-items: center;
  width: 100vw; height: 5.5vh;
}
.bar-button {
  display: flex;
  flex-direction: column;
  text-align: center; justify-content: center; align-items: center;
  color: rgb(95, 95, 95);
  cursor: pointer;
  width: 25%; height: 100%;
  font-size: 12px;
}
.bar-button.active {
  color: rgb(0, 0, 0); background-color: rgb(223, 223, 223);
  font-weight: bold;
  border-radius: 24px;
}
.bar-button svg {
  width: 40%;
  height: 40%;
  fill: rgb(95, 95, 95);
}
.bar-button.active svg {
  fill: rgb(0, 0, 0);
}